body {
  background-color: #6495f0;
}
.card {
 max-width: 50em;
 padding: 7px;
}
.card-header{
    background-color: rgb(162, 2, 255);
    color:rgb(255, 255, 255);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    letter-spacing: 3px;
    font-size: large;
    text-transform: uppercase;
}
label{
  font-weight: bold;
}
.bg-1{
	background-color:#68ccfe !important;
}

.bg-2{
	background-color:#0056ff !important;
}
.bg-3{
	background-color:#151794 !important;
}

